/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */


/* Variables */
:root {
	--color-light: #E6E6E6;
	--color-lighter: #F8FAFA;
	--color-black: #002022;
	--color-blue: #1C7A7E;
  --color-cyan: #1CBBCC;
  --color-light-grey: #EAEDED;
  --color-grey: #B0B6B7;
  --color-dark-grey: #6C8183;
}

/* Cursor pointer */
button,
header div,
input[type=checkbox],
label,
select {
	cursor: pointer;
}


/* Center everything */
div {
	margin: auto;
}

/* Cursor text selection */
input[type=text],
textarea {
	cursor: text;
}

/* Body styling */
body {
	font-size: 14pt;
  font-family: 'Roboto', sans-serif;
	margin: 0px;
	min-height: 100vh;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

body.blocked {
	background: var(--color-blue);
	color: var(--color-light);
}


body.options {
	background: var(--color-light-grey);
	color: var(--color-black);
}

/* Element positioning */
.page {
	border-top: none;
	box-sizing: border-box;
	margin: auto;
	padding: 10px;
	min-width: 65vw;
	max-width: 97vw;
}






/****************** Blocked *********************/

/* Content container */
.flex-column {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
}


/* Text */
h1 {
	color: var(--color-light);
	font: bold 2.4em Roboto;
}

p {
	font-size: 1.3em;
}

.img-container {
  position: relative;
  text-align: center;
}

/* Logo */
img {
	margin: auto;
	width: 20vh;
}

.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold; 
}


/* Buttons */
.btn {
	background-color:#015256;
	border-radius:6px;
	border:1px solid #169393;
	cursor:pointer;
	color: var(--color-light);
	font-size:18px;
	padding:4px 31px;
	margin:4px;
	text-decoration:none;
}

#btn-edit {
  display:flex;
  justify-content:flex-end;
	margin: 5px;
}
#btn-edit a {
  flex: none;
}








/****************** Options *********************/

h2 {
  margin: 2em 0 1em 0;
	color: var(--color-black);
	font: bold 2.2em Roboto;
}

/* URL list */
#url-list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#site-list {
	color: var(--color-black);
  background: var(--color-lighter) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #EAEAEA;
  border-radius: 1em;
}

.list-item {
  border-bottom: 1px solid var(--color-light-grey);
	color: 1px solid var(--color-black);
}


.flex-parent {
	display: flex;
}

.flex-child {
	margin: 0.5em;
  flex: 1 1;
}

div.name {
  flex: 1 0;
  color: var(--color-black);
  min-width: 4em;
  font-size: 1.1em;
}

div.url {
  flex: 2 2;
  color: var(--color-dark-grey);
  font-size: 1.0em;
  letter-spacing: 0;
  min-width: 0;
  overflow: hidden;
}

div.toggle {
	display: flex;
	flex-direction: row;
  font-size: 0.9em;
  justify-content: flex-end;
  flex: 0 0 7.5em;
}

label.status {
  padding: 0.05em 1em;
  text-transform: uppercase;
  color: var(--color-grey);
  width: 5.5em;
}

label.status-all {
	color: var(--color-black);
  font-weight: bold; 
}

/* Line split */
hr {
	color: var(--color-light);
}

br {
  margin: 0;
  padding: 0;
  height: 0;
  border: 1px solid #E6E6E6;
  opacity: 1;
}

/* Toggle from https://codepen.io/mallendeo/details/eLIiG */

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 44px;
  height: 24px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: var(--color-grey);
  border-radius: 1em;
  padding: 3px;
  transition: all .15s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all .15s ease;
}
.tgl-light:checked + .tgl-btn {
  background: var(--color-cyan);
}
